.header {
  padding: 20px 0;
  border: 1px solid #e5e5e7;
  margin-bottom: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.list li {
  font-size: 18px;
  font-weight: 500;
}

#search:focus {
  outline: 1px solid #757577;
}

@media screen and (max-width: 580px) {
  .header__container {
    flex-direction: column;
    gap: 20px;
  }
  .header h1 {
    font-size: 18px;
  }
  #search {
    width: 100%;
  }
}
