.header {
  padding: 20px 0;
  border: 1px solid #e5e5e7;
  margin-bottom: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__per-page {
  position: relative;
}
.header__per-page legend {
  font-size: 12px;
  padding: 0 5px;
  line-height: 0;
  color: #757577;
}

.header__per-page fieldset {
  border: 1px solid var(--gray);
  border-radius: 5px;
  z-index: -1;
  padding: 6px;
}

.header__per-page input {
  border: none;
  padding: 9px 15px;
  border-radius: 5px;
  outline: none;
}

#search {
  border: 1px solid var(--gray);
  padding: 12px 15px;
  border-radius: 5px;
  outline: none;
}

.list li {
  font-size: 18px;
  font-weight: 500;
}

#search:focus {
  outline: 1px solid #757577;
}

@media screen and (max-width: 580px) {
  .header__container {
    flex-direction: column;
    gap: 20px;
  }
  .header h1 {
    font-size: 18px;
  }
  #search {
    width: 100%;
  }
}
