.users__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.main__inputs, .main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.main__header {
  margin-bottom: 30px;
}


.per-page-input {
  position: relative;
}
.per-page-input legend {
  font-size: 12px;
  padding: 0 5px;
  line-height: 0;
  color: #757577;
}

.per-page-input fieldset {
  border: 1px solid var(--gray);
  border-radius: 5px;
  z-index: -1;
  padding: 6px;
}

.per-page-input input {
  border: none;
  padding: 9px 15px;
  border-radius: 5px;
  outline: none;
}

#search {
  border: 1px solid var(--gray);
  padding: 12px 15px;
  border-radius: 5px;
  outline: none;
}

.paginate__input {
  border: 1px solid var(--gray);
  outline: none;
  padding: 5px; 
}

.paginate button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.paginate {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  gap: 5px;
}

.repos__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repos__btn {
  margin: 0 auto;
  max-width: 300px
  width: 100%;
}
