
.paginate__input {
  border: 1px solid #e5e5e7;
  outline: none;
  padding: 5px; 
}

.paginate button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.paginate {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  gap: 5px;
}

.repos__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loadMore-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 12px;
  border: 1px solid #e5e5e7;
  background: transparent;
  cursor: pointer;
  flex: 0 0 auto;
}